<a href="https://colab.research.google.com/github/marcelounb/BB/blob/master/ia_mobile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import os
from google.colab import files
import pandas as pd
import numpy as np

In [3]:
!ls

'Classificação  - 01 a 02 Outubro - Android.xlsx'
'Classificação  - 01 a 02 Setembro - Android.xlsx'
'Classificação  - 02 a 03 Setembro - Android.xlsx'
'Classificação  - 02 a 05 Outubro - Android.xlsx'
 sample_data

In [26]:
for file in os.listdir("/content"):
    if file.endswith(".xlsx"):
        print(os.path.join("/mydir", file))

/mydir/Classificação  - 02 a 03 Setembro - Android.xlsx
/mydir/fulldataset.xlsx
/mydir/Classificação  - 01 a 02 Setembro - Android.xlsx
/mydir/Classificação  - 01 a 02 Outubro - Android.xlsx
/mydir/Classificação  - 02 a 05 Outubro - Android.xlsx

In [24]:
sys.path.index()

TypeError: ignored

In [12]:
path = "/content/Classificação  - 01 a 02 Outubro - Android.xlsx"

dataset = pd.read_excel(path, sheet_name=0, header=0 )

# Just extract out sentences and labels first - we will create subwords here
automatico = dataset['Responsável'].tolist()
negocial = dataset['Natureza'].tolist()
classificacao = dataset['Classificação'].tolist()
produtos_servicos = dataset['Produtos/Serviços'].tolist()
detalhamento = dataset['Detalhamento'].tolist()
review = dataset['review'].tolist()
score = dataset['score'].tolist()

In [13]:
dataset.head(2)

  Responsável  Natureza Classificação  ...                date reply replyDate
0  Automático  Negocial        Elogio  ... 2020-10-02 08:31:37   NaN       NaT
1      Weuber  Negocial   Solicitação  ... 2020-10-02 08:30:39   NaN       NaT

[2 rows x 22 columns]

In [16]:
writer = pd.ExcelWriter("fulldataset.xlsx")
dataset.to_excel(writer, index=False)
writer.save()